*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'whitney';
    font-size: 20px;
}

@font-face {
    font-family: whitney;
    src: url(./font/whitneymedium.otf);
}

@font-face {
    font-family: whitneysemibold;
    src: url(./font/whitneysemibold.otf);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* nav */

nav {
    background-color: #255ee9;
    padding: 0px 10px;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0px;
    max-width: 1250px;
    margin: 0 auto;
}

.nav-elements > div {
    background-color: #255ee9;

    padding: 10px;
}

.logo-square {
    flex-grow: 1;
}

.link-square {
    text-align: center;
    flex-grow: 2;
}

.link-square ul {
    display: flex;
    justify-content: center;

    gap: 50px;
    list-style: none;
}

.link-square ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.login-square {
    text-align: end;
    flex-grow: 1;
}

#login-button {
    padding: 15px;
    border-radius: 50px;

    border: none;
    background-color: white;
    font-size: 15px;
}

/* nav end */

/* header */

header {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    padding: 0px 10px;
}

#page-title {
    font-family: 'whitneysemibold';

    font-size: 50px;
    padding-bottom: 30px;
}

.header-element {

    padding: 50px 0px;
    max-width: 950px;
    margin: 0 auto;
}

.jumbo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 420px;
}

.jumbo-box > div {
    color: white;
    text-align: center;
}

.mac-button
{
    padding: 20px 35px;
    border-radius: 50px;
    margin-right: 15px;

    border: none;
    background-color: white;
}

.jumbo-box > div > button:last-of-type
{
    padding: 20px 35px;
    border-radius: 50px;
    margin-left: 15px;

    color: white;
    border: none;
    background-color: #23272a;
}

/* header end */

/* main */
.section-title {
    font-family: 'whitneysemibold';
    font-size: 50px;
}

.section-p {
    font-weight: 400;
    padding: 25px 0;
    line-height: 1.4em;
}

main > section:nth-of-type(odd) {
    background-color: #ffffff;
    padding: 0px 10px;
}

main > section:nth-of-type(even) {
    background-color: #dbdbdb;
    padding: 0px 10px;
}

/* opzione utilizzata per permettere l'alternanza */

.section-element {
    padding: 50px 0px;
    max-width: 1250px;
    margin: 0 auto;
}

/* APPUNTO PERSONALE: ricorda che hai impostato una max-widht, perciò justify-content e margin vanno combinati per mettere effettivamente l'elemento al centro */

.img-box {
    flex-grow: 3;
    height: 520px;
}

.txt-box {
    flex-grow: 2;
    height: 520px;
    padding: 35px;

    text-align: left;
}

/* bigboy */

.big-box {
    flex-grow: 1;
    height: 1200px;
    text-align: center;
}

.big-box > img {
    width: 100%;
}

.big-box > div:last-of-type {
    background-image: url(./img/stars.svg);    /* come adattare */
    padding-top: 40px;

    background-position: center;
    background-repeat: no-repeat;

    font-size: 30px;
    font-weight: 600;
}

.mac-button:last-of-type {
    margin-top: 40px;

    color: white;
    background-color: #8ea1e1;
}

/* main end */


/* footer */

footer {
    background-color: #23272a;
    padding: 0px 10px 115px 10px;
}

#footer-element1 {
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 100px;
    border-bottom: 1px solid #7289db;
}

#footer-element1 > .first-box {
    flex-grow: 1.4;
    height: 400px;
}

.first-box > div {
    color: #7289db;
    font-size: 30px;
    font-family: 'whitneysemibold';
}

.first-box > p {
    color: white;
    padding-top: 30px;
}

.first-box > p > img {
    height: 20px;
}

.first-box > p > svg {
    fill: white;
    vertical-align: middle;
    height: 12px;
}

.social {
    display: flex;
    gap: 25px;

    padding-top: 25px;
}

.social > svg {
    height: 20px;
    fill: white;
}

/* fine prima parte del footer */

/* inizio seconda parte */

#footer-element1 > .column-box {
    flex-grow: 1;
    height: 400px;

    padding-top: 5px;
}

#footer-element1 > .column-box > figcaption {
    font-family: 'whitneysemibold';
    color: #7289db;

    font-size: 15px;
}

#footer-element1 > .column-box > ul {
    list-style: none;

    font-family: 'whitney';
    color: white;
}

#footer-element1 > .column-box > ul > li{
    font-size: 15px;

    padding-top: 15px;
}

#footer-element2 {
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 20px;
}

.container-last {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-grow: 1;
    margin: 0 auto;
    padding: 20px 0px;
}

.ft-logo {
    padding: 10px 0px;
}

.signing-button {
    color: white;

    padding: 15px;
    border-radius: 50px;

    border: none;
    background-color: #8ea1e1;
    font-size: 15px;
}

/* footer end */

/* bonus */
.wave {
    background-image: url(./img/wave.svg);
    background-size: cover;
    background-repeat: no-repeat;

    filter: invert(86%);

    padding: 0px 10px;
    width: 100%;
    height: 50px;
}

.wave:nth-of-type(2) {
    filter: invert(100%);

    background-color: #242424;
}